# Python dictionary and Pandas dataframe

## `dict` in Python

You may have some idea about the elementary datatypes in Python such as `integer`, `float`, `complex`, and `string`. You probably also know that one can make `lists` and `arrays` of elementary datatypes to form derived 
datatypes. In Python software design, one of the most useful derived datatypes is `dict` denoting a dictionary.

A `dict` is a set of key/value pairs. Here is an example inspired by Star Wars.

In [1]:
swdict={               \
        'Luke':23,     \
        'Leia':23,     \
        'Hans Solo':36,\
        'Chewbacca':203\
       }

In [2]:
print(swdict)

{'Luke': 23, 'Leia': 23, 'Hans Solo': 36, 'Chewbacca': 203}

In [3]:
print(type(swdict))

<class 'dict'>

You can query (i.e. get/obtain) the value of an element (i.e. an entry) in the set py providing the corresponding key (i.e. label) as a string argument.

In [4]:
swdict['Chewbacca']

203

In [5]:
print('\'Chewbacca\' is the key and ', swdict['Chewbacca'], ' is its value')

'Chewbacca' is the key and  203  is its value

Let's update the dictionary, i.e. add a new entry

In [6]:
swdict['Darth Vader']=45 # add an entry
print(swdict)

{'Luke': 23, 'Leia': 23, 'Hans Solo': 36, 'Chewbacca': 203, 'Darth Vader': 45}

You can also remove an entry from the dictionary

In [7]:
del swdict['Leia'] # remove an entry
print(swdict)

{'Luke': 23, 'Hans Solo': 36, 'Chewbacca': 203, 'Darth Vader': 45}

You can delete the entire dictionary if needed

In [8]:
del swdict 
# uncomment the following line and `Run`
#print(swdict)

Let's declare the dictionary again and learn some more options

In [9]:
swdict_full={'Luke':23,'Leia':23,'Hans Solo':36,'Darth Vader':45,'obi':57,'Chewbacca':203} 
print(swdict_full)

{'Luke': 23, 'Leia': 23, 'Hans Solo': 36, 'Darth Vader': 45, 'obi': 57, 'Chewbacca': 203}

In [10]:
print(len(swdict_full)) # Number of entries

6

In [11]:
subset=('Leia','Luke')
swdict_subset= swdict_full.fromkeys(subset)
print(swdict_subset)

{'Leia': None, 'Luke': None}

In [12]:
subset=('Leia','Luke')
swdict_subset= swdict_full.fromkeys(subset,'23')
print(swdict_subset)

{'Leia': '23', 'Luke': '23'}

In [13]:
print(swdict_full.keys())

dict_keys(['Luke', 'Leia', 'Hans Solo', 'Darth Vader', 'obi', 'Chewbacca'])

In [14]:
print(swdict_full.values())

dict_values([23, 23, 36, 45, 57, 203])

In [15]:
new_character={'Yoda':900}
swdict_full.update(new_character) 
print(swdict_full)

{'Luke': 23, 'Leia': 23, 'Hans Solo': 36, 'Darth Vader': 45, 'obi': 57, 'Chewbacca': 203, 'Yoda': 900}

## Series, Dataframe, and Panel in Pandas

```
Data Structure   Dimension   Description
Series               1         1D array   (Homogeneous data, Size immutable, Value mutable)
DataFrame            2         2D array - container of series (Hetegeneous, Size and Value mutable)
Panel                3         3D array - container of DataFrame
```

In [16]:
import pandas as pd

In [17]:
indices=['char-1','char-2','char-3','char-4']
Names=['Luke','Leia','Hans Solo','Chebacca']
SW_series_names=pd.Series(Names,indices)
print(SW_series_names)

char-1         Luke
char-2         Leia
char-3    Hans Solo
char-4     Chebacca
dtype: object

In [18]:
Ages=[23,23,36,203]
SW_series_ages=pd.Series(Ages,indices)
print(SW_series_ages)

char-1     23
char-2     23
char-3     36
char-4    203
dtype: int64

In [19]:
SW_df={'Name':SW_series_names, 'Age':SW_series_ages}
SW_df=pd.DataFrame(SW_df)
print(SW_df)

             Name  Age
char-1       Luke   23
char-2       Leia   23
char-3  Hans Solo   36
char-4   Chebacca  203

Here's another way to declare directly the dataframe.

In [20]:
Names=['Luke','Leia','Hans Solo','Chebacca']
Ages=[23,23,36,203]

indices=['char-1','char-2','char-3','char-4']

SW_df={'Name':pd.Series(Names,indices), 'Age':pd.Series(Ages,indices)}
SW_df=pd.DataFrame(SW_df)
print(SW_df)

             Name  Age
char-1       Luke   23
char-2       Leia   23
char-3  Hans Solo   36
char-4   Chebacca  203

You can also use default indices that start with 0 for most purposes.

In [21]:
data=[['Luke',23],['Leia',23],['Hans Solo',36],['Chebacca',203]]
SW_df=pd.DataFrame(data,columns=['Name','Age'])
print(SW_df)

        Name  Age
0       Luke   23
1       Leia   23
2  Hans Solo   36
3   Chebacca  203

For non-string columns, you can do quick statistics with the `describe` function.

In [22]:
SW_df.describe()

              Age
count    4.000000
mean    71.250000
std     88.046863
min     23.000000
25%     23.000000
50%     29.500000
75%     77.750000
max    203.000000

You can access the first entry using the index `0`

In [23]:
print(SW_df.loc[0])

Name    Luke
Age       23
Name: 0, dtype: object

Again, you can use named indices if you wish.

In [24]:
SW_df=pd.DataFrame(data,columns=['Name','Age'],index=['char-1','char-2','char-3','char-4'])
print(SW_df)

             Name  Age
char-1       Luke   23
char-2       Leia   23
char-3  Hans Solo   36
char-4   Chebacca  203

Now if you want to query, you have to use the named index for the row.

In [25]:
print(SW_df.loc['char-1'])

Name    Luke
Age       23
Name: char-1, dtype: object